/* Estilos gerais */
body {
    
    background-image: url('https://mrwallpaper.com/images/hd/tyler-the-creator-black-and-white-qhjnizkqey4mdq1g.jpg');
    background-size: cover;
     background-position: center;
    height: 100vh; /* Garante que a imagem de fundo ocupe toda a altura da página */
    margin: 0; 
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Garante que o título fique no topo */
}

/* Título centralizado no topo da página */
.site-title {
    font-style: oblique;
    font-size: 60px;
    font-weight: bold;
    color: #a70505;
    text-align: center;
    margin-top: 50px;  /* Distância do topo da página */
    margin-bottom: 20px; /* Distância entre o título e o formulário */
}

/* Estilos do container de login */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;  /* Limita o tamanho máximo do container */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.container button {
    width: 100%;
    padding: 10px;
    background-color: #691010;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.container button:hover {
    background-color: #090a09;
}

/* Estiliza o parágrafo */
p {
    color: #f1eeee; /* Cor da frase, substitua pelo código de cor desejado */
    font-size: 16px; /* Tamanho do texto (opcional) */
}

/* Estiliza o link */
p a {
    color: #007BFF; /* Cor do link, substitua pelo código de cor desejado */
    text-decoration: none; /* Remove o sublinhado do link */
}

p a:hover {
    color: #a53232; /* Cor do link ao passar o mouse (opcional) */
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

/* Define a cor da frase "Voltar para página inicial" */
.frase-color {
    color: #070707;  /* Exemplo de cor laranja */
}

/* Definindo estilos para as mensagens flash */
ul {
    list-style-type: none;  /* Remove os pontos das listas */
    padding: 0;
}

ul li {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

/* Estilo para mensagens de sucesso (verde) */
.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

/* Estilo para mensagens de erro (vermelho) */
.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
