/* Estilos gerais */
body {
    background-image: url('https://mrwallpaper.com/images/hd/tyler-the-creator-black-and-white-qhjnizkqey4mdq1g.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0; 
    font-family: 'Roboto', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Título */
.site-title {
    font-size: 60px;
    color: #6d0808;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilos do container de login */
.container {
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

/* Inputs e Botões */
.container input,
.container button {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border-radius: 8px;
    border: 1px solid #070606;
    transition: all 0.3s ease;
}

.container input:focus,
.container button:focus {
    border-color: #691010;
    outline: none;
}

.container button {
    background-color: #691010;
    color: #fff;
    cursor: pointer;
}

.container button:hover {
    background-color: #9b1e1e;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* Flash Messages */
ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

ul li {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-weight: bold;
    animation: fadeIn 0.5s ease-out;
}

.success {
    background-color: #d4edda;
    color: #155724;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
}

/* Animação de fade-in para as mensagens */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Estilo para a lista de músicas */
ul {
    padding: 0;
    margin-top: 20px;
}

ul li {
    background: #333;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li a {
    color: #fff;
    text-decoration: none;
    background-color: #691010;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

ul li a:hover {
    background-color: #9b1e1e;
}
